@{
    Validation.RequireField("Book", "You must enter a book.");
    Validation.RequireField("Chapter", "You must enter a chapter.");
    Validation.RequireField("Verse", "You must enter a verse");
    Validation.RequireField("Notes", "You haven't entered any notes.");

    var book = "";
    var chapter = "";
    var verse = "";
    var notes = "";


    if (IsPost && Validation.IsValid())
    {
        book = Request.Form["Book"];
        chapter = Request.Form["Chapter"];
        verse = Request.Form["Verse"];
        notes = Request.Form["Notes"];


        var db = Database.Open("WebPagesScriptureJournal");
        var insertCommand = "INSERT INTO Scripture_Journal (Book, Chapter, Verse, Notes, Date) VALUES(@0, @1, @2, @3, @4)";
        db.Execute(insertCommand, book, chapter, verse, notes, DateTime.Now);

        Response.Redirect("~/MyScriptureJournal");
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Add a Scripture</title>
    <link rel="stylesheet" type="text/css" href="main.css">
</head>
<body>
    <h1>Add a Scripture</h1>
    <form method="post">
        <fieldset>
            <legend>Scripture Information</legend>
            <div class="inputwrap">
                <div class="labelwrap"><label for="book">Book:</label></div>
                <input type="text" name="book" value="@Request.Form["Book"]" />
                @Html.ValidationMessage("Book")
            </div>

            <div class="inputwrap">
                <div class="labelwrap"><label for="chapter">Chapter:</label></div>
                <input type="text" name="chapter" value="@Request.Form["Chapter"]" />
                @Html.ValidationMessage("Chapter")
            </div>

            <div class="inputwrap">
                <div class="labelwrap"><label for="verse">Verse:</label></div>
                <input type="text" name="verse" value="@Request.Form["Verse"]" />
                @Html.ValidationMessage("Verse")
            </div>

            <div class="inputwrap">
                <div class="labelwrap"><label for="year">Notes:</label></div>
                <input type="text" name="notes" value="@Request.Form["Notes"]" size="35"/>
                @Html.ValidationMessage("Notes")
            </div>



            <p><input type="submit" name="buttonSubmit" value="Add Scripture" /></p>
        </fieldset>
    </form>
    <p><a href="~/MyScriptureJournal">Return to scripture listing</a></p>

</body>
</html>
